body {
  background-color: rgba(113, 161, 183, 0.739);
} 
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
table {
  position: absolute;
  top: 150px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #dddddd;
}
th {
  font-weight: bold;
  padding: 5px;
  background: #9e9b9b;
  border: 1px solid #dddddd;
}
td {
  border: 1px solid #dddddd;
  padding: 5px;
}

.table_div_vis {
  display: flex;
}
.table_div_invis {
  display: none;
}

.txt{
  position: absolute;
  width: 200px;
  height: 44px;
    top: 90px;
    left: 20px;
    
}
.BPID {
  position: absolute;
  width: 200px;
  height: 30px;
    top: 60px;
    left: 20px;
}
.FID {
  position: absolute;
  width: 200px;
  height: 44px;
    top: 90px;
    left: 220px;
}
.BFID {
  position: absolute;
  width: 200px;
  height: 30px;
    top: 60px;
    left: 220px;
}
.DelID {
  position: absolute;
  width: 200px;
  height: 44px;
    top: 90px;
    left: 420px;
}
.BDelID {
  position: absolute;
  width: 200px;
  height: 30px;
    top: 60px;
    left: 420px;
}

.open-button {
  background-color: #2196F3;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  top: 70px;
  left: 700px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
}

.form-container .cancel {
  background-color: #448AFF;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* .AddNewTimestamp {
  background-color: #f1f1f1;
  padding: 23px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 120px;
  left: 50%;
  font-family: "Roboto Mono",monospace;
  color: #9e9b9b;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0px;
} */